body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(209, 207, 207);
    font-size: large;
}
.con{
    background-color: white;
    padding: 5%;
}
a{
    color:rgb(16, 186, 135);
}
a:hover{
    color:blue;
}
.footer{
    
    padding: 4%;
    background-color: black;
    color: rgb(164, 162, 162);
}
.footer a{
    text-decoration: none;
    color:white;
}
.footer a:hover{
    color:blue;
}